<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.annasblackhat.onlineshop.feature">

    <application>
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <activity
            android:name=".ProductDetailActivity"
            android:label="Online Shop - Detail">
            <intent-filter
                android:order="1"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="blog.uniq.id"
                    android:scheme="https"
                    android:pathPrefix="/online-shop/detail" />
            </intent-filter>
            <intent-filter
                android:order="1"
                android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="blog.uniq.id"
                    android:pathPrefix="/online-shop/detail" />
            </intent-filter>

        </activity>
    </application>

</manifest>